body {
	position: absolute;
	background: #140E0A;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

	font-family: 'Calibri', sans;

	overflow: hidden;
}

.content {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

	text-align: center;

	overflow: scroll;
}

.section {
	position: relative;
	display: inline-block;

	vertical-align: top;
	text-align: center;
	margin: 0;
	padding: 0;
}

h1 {
	display: inline-block;
	width: 100%;
    position: relative;
    color: #FFEA90;
    font-size: 2.5em;
    font-weight: lighter;
}

h1:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 20%;
    width: 60%;
    height: 1px;
    background: linear-gradient(to right, rgba(9, 81, 117, 0),rgb(236, 224, 166),rgba(9, 81, 117, 0));
}

h2 {
    position: relative;
    color: #A2F2C2;
    font-size: 2em;
    font-weight: lighter;
}

h2:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 25%;

	width: 50%;
	height: 1px;
	background: linear-gradient(to right, rgba(9, 81, 117, 0),rgba(206, 255, 225, 0.3),rgba(9, 81, 117, 0));
}

.container {
	position: relative;
	display: inline-block;
}

#board {
	position: relative;
	width: 100vmin;
	height: 100vmin;
	max-width: 900px;
	max-height: 800px;
    background-image: radial-gradient(#09284F,#140E0A 76%);

    transform: translateZ(0);
}

#top-bg, #bottom-bg, #left-bg, #right-bg {
	position: absolute;
	width: 100vmax;
	height: 100vmax;
	top: 50%;
	left: 50%;
	transform-origin: 0 0;
}

#top-bg {
	background-color: #0fb9bc;
	transform: rotateZ(225deg);
}
#left-bg {
	background-color: #15ae45;
	transform: translateX(1px) rotateZ(135deg);
}
#bottom-bg {
	background-color: #9321cf;
	transform: rotateZ(45deg);
}
#right-bg {
	background-color: #e13b38;
	transform: rotateZ(-45deg);
}

#bg-screen {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(24, 24, 24, 0.43);
}


div.dir-info, .tile, .separator {
    position: absolute;
    /*background: blue;*/

	top: 50%;
	left: 50%;
	width: 100px;
	max-width: 12vmin;
	height: 100px;
	max-height: 12vmin;
}

div.pertick, div.dir-info div.bank {
	position: absolute;
	color: grey;
	font-family: 'Calibri', sans;
	font-size: 100%;

	top: 33%;
	transform: translate(0, -50%);
	width: 500%;
}

div.dir-info div.bank {
	top: 67%;
	font-size: 150%;
}

#info-up, #info-down {
	text-align: left;
}

#info-right div.pertick, #info-left div.pertick, #info-right div.bank, #info-left div.bank {
	left: 50%;
	top: 10%;

	transform: translate(-50%, -50%);
}
#info-right div.bank, #info-left div.bank {
	top: 44%;
}

div.pertick span[data-final] {
	font-size: 150%;
}

#info-up .dir-color {
	color: #E7C143;
}
#info-down .dir-color {
	color: #C929F8;
}
#info-right .dir-color {
	color: #D12A4D;
}
#info-left .dir-color {
	color: #37EA9D;
}

span.star-icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url("../graphics/bottles/bottle_with_stars.png");
	background-size: 100% auto;
	transform: translateY(25%);
}


.tile, .separator {

	transition: transform 0.5s, opacity 0.5s;

    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    color: white;

    /*cursor: pointer;*/
}

.tile {
    background-size: 90% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.separator {
	z-index: 2;
	background-color: transparent;

	cursor: pointer;
}
.separator:hover {
	background-color: rgba(255,255,255,0.5);
}

.tile.wrong:after, .tile.right:after {
	content:'';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	background-size: 100% 100%;
}
.tile.wrong:after {
	background-image: url('../graphics/tiles/wrong.png');
}
.tile.right:after {
	background-image: url('../graphics/tiles/right.png');
}

/*.tile:hover {
	background-color: #525273;
	outline: 1px solid yellow;
}*/

.tile.selected {
	outline: 1px solid white;
}

.tile[data-shape='square'], .tile.type0 {
	/*background-color: #5D5D83;*/
	background-image: url("../graphics/tiles/square.png");
}
.tile[data-shape='dir-left'], .tile.type1 {
	/*background-color: #9BAF61;*/
	background-image: url("../graphics/bottles/bottle_with_turquoise_water_1.png");
}
.tile[data-shape='dir-up'], .tile.type2 {
	/*background-color: #E0A532;*/
	background-image: url("../graphics/bottles/bottle_with_orange_water_1.png");
}
.tile[data-shape='dir-right'], .tile.type3 {
	/*background-color: #E03240;*/
	background-image: url("../graphics/bottles/bottle_with_red_water_1.png");
}
.tile[data-shape='dir-down'], .tile.type4 {
	/*background-color: #D332E0;*/
	background-image: url("../graphics/bottles/bottle_with_magenta_water_1.png");
}
.tile[data-shape='circle'], .tile.type5 {
	/*background-color: #57CFCD;*/
	background-image: url("../graphics/tiles/circle.png");
}
.tile[data-shape].heart {
	background-image: url("../graphics/rabbits/rabbit-red-heart.png");
}

.tile.combined {

}


.tile.l1 {
	background-color: #9BAF61;
}

.tile span {
	transform: translate(-50%, -50%);
	font-family: Calibri, sans;
	font-size: 17px;
	line-height: 20px;
	padding: 0 0;
}

.tile [data-info='level'] {
	position: absolute;
	top: 15%;
	left: 50%;
	font-size: 18px;
}

.tile [data-info='prod'] {
	position: absolute;
	top: 90%;
	left: 85%;

	background-color: rgb(101, 66, 34);
	border: 1px solid white;
	border-radius: 500px;

	min-width: 20px;
	height: 20px;

    padding: 0 2px;
}

.tile [data-info='pertick'] {
	/*position: absolute;
	top: 25%;
	left: 90%;
	background: #8F5A59;
	border: 1px solid white;
	border-radius: 500px;

	min-width: 20px;
	height: 20px;*/
    position: absolute;
    top: 52%;
    left: 57%;
    color: #113F4C;
    font-weight: bolder;
    background: rgba(255, 255, 255, 0.35);
    /* border: 1px solid #350E66; */
    border-radius: 500px;
    min-width: 20px;
    height: 20px;
    padding: 0 4px;
}
.tile[data-shape='dir-up'] [data-info='pertick']{
	color: #984B0C;
    background: rgba(255, 200, 150, 0.6);
}
.tile[data-shape='dir-down'] [data-info='pertick']{
	color: #A526AB;
    background: rgba(242, 174, 213, 0.57);
}
.tile[data-shape='dir-right'] [data-info='pertick']{
	color: #A13C35;
    background: rgba(255, 200, 191, 0.59);
}
.tile[data-shape='dir-left'] [data-info='pertick']{
	color: #3A7267;
    background: rgba(151, 212, 176, 0.66);
}

.tile [data-info='tick'] {
	position: absolute;
	top: 60%;
	left: 75%;
	background: #2A8310;
	border-radius: 500px;

	min-width: 28px;
	height: 28px;
}

.tile [data-info='multi'] {
    position: absolute;
    top: 46%;
    left: 45%;
    transform: rotateZ(15deg);
    font-size: 200%;
    font-weight: bolder;
    opacity: 0;
}
.tile [data-info='multi'].visible {
	opacity: 1;
}
.tile [data-info='multi'].visible:before {
	content: 'x';
}


#bank {
	position: absolute;
	top: 5%;
	left: 2%;
	font-family: 'Calibri', sans;

	font-size: 3em;
	color: white;
    text-align: center;
}

#bank span {
	position: relative;
	z-index: 2;
}

#bank:before {
	content: "";
    position: relative;
	background: url("../graphics/bottles/bottle_with_stars.png");
	background-size: 100% auto;

	margin-right: 10px;

	width: 2em;
	height: 2em;

	z-index: 2;

	display: inline-block;
	transform: translateY(30%);
}

#bank:after {
    content: '';
    position: absolute;
    display: block;

    width: 120%;
    height: 1.1em;
    bottom: 0;
    left: 50px;

    background: linear-gradient(to right, #411D61 50%, rgba(255, 178, 43, 0));

    z-index: 0;
}

.shopentry {
    color: white;
    vertical-align: top;
    display: inline-block;
    width: 200px;
    min-height: 250px;
    margin: 8px 16px;
    border: 1px #4A464B solid;
    background: #221914;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.shopentry .thumbnail {
	display: block;
	width: 100%;
	height: 100px;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.shopentry[data-entry="phoenix"] .thumbnail {
	background-image: url("../graphics/bottles/bottle_with_feather_phoenix.png");

}
.shopentry[data-entry="mushrooms"] .thumbnail {
	background-image: url("../graphics/bottles/bottle_with_mushrooms.png");
	
}

.shopentry .name {
	display: inline-block;
	width: 100%;
	font-size: 120%;
	margin-bottom: 0.5em;
}

.shopentry .description {
	display: inline-block;
	width: 100%;
	font-size: 100%;
	font-style: italic;
    color: #FF8D21;
}

.shopentry .tip {
	display: inline-block;
	width: 100%;
	font-size: 100%;
	font-style: italic;
    color: #7C7C7C;
}

.shopentry .buy-button {
	display: inline-block;

	margin-top: 0.5em;

    background: linear-gradient(#4D1381,#3D1D5A);
    border: 1px solid #833595;
	border-radius: 0.25em;
	min-width: 50%;
	min-height: 1.7em;

	white-space: nowrap;

	font-size: 1.5em;
}

.shopentry .buy-button [data-price] {
    display: inline-block;
    color: white;
    margin-right: 5px;
    transform: translateY(6%);
}



#hearts {
	position: absolute;
	top: 13%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 300%;
	text-align: center;
}

#hearts span.heart {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0 5px;
	background: #E01212;

	border-radius: 20% 20% 50% 50%;
}

#game-over {
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

#game-over:after {
	content: "Game Over";
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 50%;

	color: white;
	font-size: 10vw;

	white-space: nowrap;

	transform: translate(-50%, -50%);
}

#credits {
	margin: 100px 0 25px;
	width: 100%;
	color: #8A6E4F;
}

#credits span {
	vertical-align: bottom;
}