html,body {
	/*font-family: 'Chango', cursive;*/
	font-family: 'Open Sans', sans-serif;
	cursor: url("../sprites/cursor.png"), url("sprites/cursor.ani"), url("../sprites/cursor.gif"), auto;
	margin: 0;
	padding: 0;
	height: 100%;
}

@keyframes animatedBackground {
	from {
		transform: translateX(0);
	}
	to { 
		transform: translateX(-50%);
	}
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#game-container {
	display: block;
	min-height: 100%;
}

#game-header {
	font-family: 'Chango', cursive;
	position: absolute;
	z-index: 100;
	font-size: 200%%;
	width: 100%;
	text-align: center;
	pointer-events: none;
}
#game-header h1 {
	color: white;
	font-size: 0.8em;
}

#bank {
	color: #fff000;
	text-shadow: 1px 1px 1px rgba(34, 82, 198,0.2),-1px -1px 1px rgba(34, 82, 198,0.2),-1px 1px 1px rgba(34, 82, 198,0.2),1px -1px 1px rgba(34, 82, 198,0.2);
	font-size: 1.5em;
}
#bg-holder-holder {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	float:left;
	z-index: -1;
}
#bg-holder {
	position: relative;
	width: 200%;
	height: 100%;
	animation: animatedBackground 90s linear infinite;
	background: url("../sprites/nuages.jpg") center repeat-x;
	background-size: 50% auto;
}
#bg-holder>.bg {
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
}
#bg-top {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0;
	background: #2252c6;
}
#bg-bottom {
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0;
	background: #c3ddee;
}

#playground {
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 50;
	/*background: #8abcde ;*/
	/*animation: animatedBackground 90s linear infinite;*/
}
#playground > svg {
	display: block;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.sprite {
	image-rendering: pixelated;
	-ms-interpolation-mode: bicubic;
}

.event-handler {
	pointer-events: all;
}

#control-panel {
	background: #ccc;
	position: absolute;
	height: 100%;
	width: 30%;
	right: 0;
}

#shop {
	min-height: 200px;
}