html,body {
	/*font-family: 'Chango', cursive;*/
	font-family: 'Open Sans', cursive, sans-serif;
	cursor: url("../sprites/cursor.png"), url("sprites/cursor.ani"), url("../sprites/cursor.gif"), auto;
	margin: 0;
	padding: 0;
	height: 100%;
}

@keyframes animatedBackground {
	from {
		transform: translateX(0);
	}
	to { 
		transform: translateX(-50%);
	}
}

img {
	pointer-events: none;
}

.noselect, .tooltip-body, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#game-container {
	display: block;
	min-height: 100%;
}

#game-header {
	position: absolute;
	z-index: 100;
	font-size: 200%%;
	width: 100%;
	text-align: center;
	pointer-events: none;
}
#game-header h1 {
	color: white;
	font-size: 0.8em;
}

#bank {
	color: #fff000;
	font-family: 'Chango', cursive;
	text-shadow: 1px 1px 1px rgba(34, 82, 198,0.2),-1px -1px 1px rgba(34, 82, 198,0.2),-1px 1px 1px rgba(34, 82, 198,0.2),1px -1px 1px rgba(34, 82, 198,0.2);
	font-size: 1.5em;
}
#bg-holder-holder {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	float:left;
	z-index: -1;
}
#bg-holder {
	position: relative;
	width: 200%;
	height: 100%;
	animation: animatedBackground 90s linear infinite;
	background: url("../sprites/nuages.jpg") center repeat-x;
	background-size: 50% auto;
}
#bg-holder>.bg {
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
}
#bg-top {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0;
	background: #2252c6;
}
#bg-bottom {
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0;
	background: #c3ddee;
}

#playground {
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 50;
	overflow: hidden;
	float: left;
	box-sizing:border-box;
	/*background: #8abcde ;*/
	/*animation: animatedBackground 90s linear infinite;*/
}
#playground > svg {
	display: inline-block;
	margin: 0;
	width: 100%;
	max-height: 100%;
	white-space: nowrap;
	overflow: hidden;
	pointer-events: none;
}

.sprite {
	image-rendering: pixelated;
	-ms-interpolation-mode: bicubic;
}

.event-handler {
	pointer-events: all;
}

#control-panel {
	background: #ccc;
	position: absolute;
	height: 100%;
	width: 30%;
	right: 0;
}

#shop {
	min-height: 200px;
}

.fui-container {
	font-family: 'Roboto Condensed';
	position: absolute;
	overflow: visible;
	text-align: center;
	width: 0;
	height: 0;
	pointer-events: none;
}

.hmenu-body {

}

.tooltip-body {
	
	position: absolute;
	left: -100px;
	bottom: 0px;
	bottom: 70px;
	width: 200px;
	min-height: 50px;
	height: auto;

}
.tooltip-item {
	position: relative;
	display: block;

	background: rgba(42,42,42,0.67);
	color: #9DBE00;

	margin-top: 5px;
	width: 100%;
	min-height: 40px;
	padding-top: 5px;

	text-align: center;

	border-radius: 5px;
	border: 3px solid rgba(0,0,0,0.2);
}

.tooltip-item > .thumbnail {
	position: absolute;
	border-radius: 40%;
	border: 2px solid #ddd;
	overflow: hidden;
	background: linear-gradient(#505050, #333);;
	left: -17px;
	top: -17px;
	width: 40px;
	height: 40px;
	padding: 0;
	text-align: center;
}

.tooltip-item > .thumbnail > img{
	/*margin-top: -10px;*/
	width: 100%;
	height: auto;
}

.tooltip-item > p {
	-webkit-margin-before: 0.5em;
}

#slot-menu-container {

	cursor: url("../sprites/cursor.png"), url("sprites/cursor.ani"), url("../sprites/cursor.gif"), auto;

	z-index: 75;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);

	text-align: center;

	opacity: 0;
	pointer-events: none;

	overflow: hidden;
}

#slot-menu-container > .slot-menu-body {
	position: absolute;
	top: 30%;
	left: 5%;
	width: 90%;
	height: 65%;
	display: inline-block;

	padding: 0;

	/*overflow-y: scroll;*/
}
.slot-menu-body > .items-holder {
	position: relative;
	float: left;
	margin: 0;
	padding: 5px;

	width: 100%;
	height: 100%;

	overflow-x: hidden;
}

.slot-menu-body > .items-holder > .item {
	display: inline-block;
	margin: 5px;
	width: 75px;
	height: 75px;
	background: black;
	overflow: hidden;


	border-radius: 10%;
	border: 3px solid yellow;
}

.slot-menu-body > .items-holder > .item > img{
	pointer-events: all;
	width: 100%;
	height: auto;
}

.slot-menu-body > .items-holder > .item:hover > img{
	margin-top: -10%;
	margin-left: -10%;
	width: 120%;
}

.slot-menu-body > .quit {
	position: absolute;
	right: 0;
	top: 0;

	width: 30px;
	height: 30px;

	border-radius: 50%;
	border: 3px solid rgba(150,0,0,1);

	background: red;
	color: white;

	cursor: pointer;

}

/* SVG */

svg > g.gridpos {
	pointer-events: none;
}

svg > g.gridpos > .event-handler {
	fill: transparent;
	stroke: transparent;
	stroke-width: 0;
}
